server:
  port: 8031
spring:
  application:
    name: PRODUCT-SERVICE
eureka:
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${random.value}
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
